<p>Hello, someone requested password reset on your Drawvania account.</p>
<p>If this is not you, then ignore this email.
Otherwise change your password following the link:</p>
<a href="{{ config('sketchDiary.subdomains.main') }}/reset-password/{{ token }}">Reset password</a>
