<p>Welcome to Drawvania!</p>
<p>In order to finish account activation, please confirm your email following the link:</p>
<a href="{{ config('sketchDiary.subdomains.main') }}/confirm-email/{{ token }}">Confirm email</a>
